@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 213 50% 10%;

    --card: 0 0% 100%;
    --card-foreground: 213 50% 10%;

    --popover: 0 0% 100%;
    --popover-foreground: 213 50% 10%;

    --primary: 213 72% 32%;
    --primary-foreground: 210 40% 98%;

    --secondary: 213 30% 95%;
    --secondary-foreground: 213 72% 32%;

    --muted: 213 20% 96%;
    --muted-foreground: 213 15% 47%;

    --accent: 213 30% 95%;
    --accent-foreground: 213 72% 32%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 213 20% 90%;
    --input: 213 20% 90%;
    --ring: 213 72% 32%;

    --radius: 0.5rem;

    --sidebar-background: 213 72% 15%;
    --sidebar-foreground: 210 40% 92%;
    --sidebar-primary: 210 40% 98%;
    --sidebar-primary-foreground: 213 72% 15%;
    --sidebar-accent: 213 60% 22%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 213 60% 22%;
    --sidebar-ring: 213 72% 32%;
  }

  .dark {
    --background: 213 50% 5%;
    --foreground: 210 40% 98%;

    --card: 213 50% 5%;
    --card-foreground: 210 40% 98%;

    --popover: 213 50% 5%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 213 72% 32%;

    --secondary: 213 32% 17%;
    --secondary-foreground: 210 40% 98%;

    --muted: 213 32% 17%;
    --muted-foreground: 213 20% 65%;

    --accent: 213 32% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 213 32% 17%;
    --input: 213 32% 17%;
    --ring: 213 26% 84%;

    --sidebar-background: 213 50% 7%;
    --sidebar-foreground: 210 40% 92%;
    --sidebar-primary: 213 72% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 213 40% 15%;
    --sidebar-accent-foreground: 210 40% 92%;
    --sidebar-border: 213 40% 15%;
    --sidebar-ring: 213 72% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
